
form{
	font-family: "Times New Roman" "Calibri";
}
p{
	margin-top: 40px;
}

legend{
	text-decoration: underline;
	font-size: 20px;
	font-weight: 20px; 

}

img{
	height: 60px;
	position: right;

}
#fd{

text-align: right;

}